html {
  background-color: #f9f9f9;
}

.App {
  text-align: center;
}

.header {
  color: #01b4bc;
  box-sizing: content-box;
  text-align: center;
  display: inline-block;
  height: 3rem;
  font-weight: 600;
  font-family: "Cutive Mono", monospace;
  font-size: 5rem;
}
.nav {
  font-family: "Maven Pro", sans-serif;
  color: #fa5457;
  font-size: 1.25rem;
  background-color: #f9f9f9;
  text-align: center;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: inline-block;
  flex: auto;
  padding: 14px 16px;
  width: 40rem;
  height: 50px;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out;
  position: sticky;
  top: 0;
  z-index: 999;
}
ul {
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: center;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.25;
}

button {
  padding: 1%;
  margin: 1%;
  font-family: "Cutive Mono", monospace;
  font-size: 0.85rem;
  font-weight: 200;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline-block;
  color: #363d42;
  border-color: #01b4bc;
  border-radius: 9999px;
  /* f6 link dim mb2 dib white bg-dark-green */
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

hover {
  text-decoration: none;
  background-color: #469ea9;
}

a:active {
  text-decoration: none;
}
