html {
  background-color: #f1f1f1;
}

.App {
  text-align: center;
}

.header {
  /* color: rgb(235, 96, 21); */
  color: #363d42;
  box-sizing: content-box;
  text-align: center;
  height: 3rem;
  font-weight: 600;
  font-family: "Cutive Mono", monospace;
  font-size: 4.5rem;
}
.nav-link {
  overflow: hidden;
  font-family: avenir next, avenir, sans-serif;
  color: #363d42;
  text-align: center;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  max-width: 48rem;
  display: inline-block;
  padding: 14px 16px;
  width: 20rem;
  height: 2rem;
  text-decoration: none;
}
ul {
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: center;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.25;
}

/* .Title {
  font-family: "Courier Prime", monospace;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.25;
  padding-top: 100px;
  border-width: 0.1rem;
} */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
